section#button {
    padding: 7rem 0;
    background: $grey-sub;
    text-align: end;

    .container {
        .btn-primary {
            padding: 1rem 5rem;
        }
        a:hover {
            text-decoration: none;
        }
        .btn-action {
            color: $white;
            border: 1px solid $green;
            border-radius: 6px;
            background: $green;
            text-shadow: none;
        }
        .btn-action:hover {
            // color: $grey-dark !important;
            cursor: pointer;
            background-color: $hover-green !important;
        }
    }

}

@media (max-width: $mobile-max-width) {
    section#button {
        display: none;
    }
}

