$black: #000;
$red:rgba(173, 0, 0, 1);
$grey-dark: #333333;
$grey-light: #777777;
$grey-bg: #fafafa;
$grey-nav-bg: #f8f9fa;
$grey-border: #e5e5e5;
$grey-sub: #cecece;
$white: #fff;
$green: #609845;
$hover-green: #668657;
$green-dark: rgba(40, 67, 29, 1);
$yellow: rgba(217, 225, 39, 1);
$green-translucent: rgba(96, 152, 69, 0.8);
$yellow-translucent: rgba(217, 225, 39, 0.8);
$section-heading: #212529;
$offwhite: #d7d7d7;


