.main-image {
  bottom: -50;
  width: 40vh;
  left: 30%;
}

.right-title {
  height: 10vh;
}

.form-box {
  height: 80%;
  position: relative;
}

.password-change-form-box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 50vh;
  position: absolute;
  text-align: center;
}

.password-change-form-box h1 {
  color: #8b8b8b;
  font-size: 3em;
}

.password-change-form-box p {
  font-size: 1.2em;
  margin-top: 5vh;
}

.password-change-form-box #id_old_password,
#id_new_password1,
#id_new_password2 {
  width: 90%;
  height: 50px;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
}

/* removes Email: label */
.password-change-form label {
  display: none;
}


@media only screen and (max-width: 780px) {
  .right-title {
    height: 15vh;
  }

}


@media only screen and (max-width: 650px) {
  h1 {
    font-size: 1.9em;
  }

  .right-title {
    display: none;
  }

  .password-change-form-box {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .password-change-form-box h1 {
    font-size: 2em;
  }

  .password-change-form-box #id_old_password,
  #id_new_password1,
  #id_new_password2 {
    margin: 2vh;
  }

  .form-box {
    margin-left: 20px;
    margin-right: 20px;
    right: 0px;
    padding-right: 0px;
  }

  .submit-button-section {
    margin-top: 15px;
  }

}

@media only screen and (max-width: 1200px) {
  .flex-container {
    height: 100vh;
 }
}


@media only screen and (max-height: 750px) {
  .flex-right-half {
  overflow: scroll !important;
  margin-top: 0px !important;
  height: 100vh !important;

 }
 .form-box {
   height: 600px;
 }
}

@media only screen and (max-height: 560px) {
  .right-title {
    display: none;
  }
  .form-box {
    height: 500px;
  }
}




.djam-avatar-box {
  position: relative;
  width: 100%;
  height: 20vh;
  text-align: center;
}