.main-image {
    bottom: -50;
  }

.message-outer-box h2{
    color: rgb(117, 117, 117);
    font-size: 1.4em;
    line-height: 2em;
}
  

  
  .message-outer-box {
    /* height: 80vh; */
    width: 100%;
    height: 70vh;
    text-align: center;
  }
  
  .envelope-email {
    /* margin: 40px; */
    /* margin-top: 7vh; */
    width: 200px;
    opacity: 0.7;
  }

  .message-image-box {
    height: 25vh;
  } 
  

  .message-box {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 20vh;
    text-align: center;
    padding-top: 2vh;
  }

  .message-box-lower{
    border-top: rgb(200, 200, 200) 2px solid;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
  }

  .message-outer-box a{
    text-decoration: none;
  }
  
 
  
  @media only screen and (max-width: 500px){
    .message-box {
      height: 30vh;
    }
  }

  
