.main-image {
  bottom: -50;
}

.message-outer-box h2 {
  color: #8b8b8b;
  border-bottom: #e0e0e0 3px solid;
  font-size: 1.4em;
  line-height: 2em;
  padding-bottom: 1.5em;
}

.message-outer-box p {
  color: #8b8b8b;
  font-size: 1.2em;
  padding-top: 1.5em;
}

.message-outer-box {
  /* height: 80vh; */
  width: 100%;
  height: 70vh;
  text-align: center;
}

.envelope-email {
  width: 200px;
  opacity: 0.7;
}

.message-image-box {
  height: 25vh;
}


.message-box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 20vh;
  text-align: center;
  padding-top: 2vh;
}

.message-box-lower {
  border-top: rgb(200, 200, 200) 2px solid;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.message-outer-box a {
  text-decoration: none;
}

.verification-link {
  font-weight: 700;
  color: #3A8EA8;
  opacity: 0.8;
}

.verification-link:hover {
  text-decoration: none;
  opacity: 1.0;
  color: #808080;
}

@media only screen and (max-width: 800px) {
  .right-title {
    height: 25vh;
  }
}


@media only screen and (max-width: 700px) {

  .right-title {
    height: 23vh;
  }

  .right-title-text {
    display: none;
  }
}

/* @media only screen and (max-height: 600px) {
  html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
   }
}


@media only screen and (max-height: 560px) {
  .mapstand-avatar-box {
    display: none;
  }
  .right-title {
    height: 10vh;
  }
  html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
 }
 .envelope-email{
   display: none;
 }
 .message-image-box {
   height: 15vh;
 }
 .mapstand-logo-right {
  margin-top: 10px;
  width: 45vh;
 }
   .right-title {
    height: 13vh !important;
    
  }
  h1 {
    font-size: 1.7em !important;
  }
  .message-image-box {
    height: 8vh;
  }
} */





@media only screen and (max-width: 1200px) {
  .flex-container {
    height: 100vh;
 }
}
  
@media only screen and (max-height: 750px) {
  .flex-right-half {
  overflow: scroll !important;
  margin-top: 0px !important;
  height: 100vh !important;
 }
 .form-box {
   height: 300px;
 }
 .message-image-box {
  height: 25vh;
 }
}

@media only screen and (max-height: 560px) {
  .mapstand-avatar-box {
    display: none;
  }
  /* .right-title {
    display: none;
  } */

}