.main-image {
    bottom: -50;
  }
  
  .form-box {
    height: 80vh;
    position: relative;
  }
  
  .mapstand-avatar-box {
    position: relative;
    width: 100%;
    height: 20vh;
    text-align: center;
  }
  
  .mapstand-avatar {
    margin: 40px;
    margin-top: 7vh;
  }
  
  .password-change-form-box {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 50vh;
    position: absolute;
    text-align: center;
  }
  
  .password-change-form-box p {
    font-size: 1.2em;
    margin-top:5vh;
  }
  
  
  
  .password-change-form-box #id_old_password, #id_new_password1, #id_new_password2{
    width: 90%;
    height: 50px;
    font-size: 1.2em;
    padding: 10px;
    margin: 20px;
  }
  
  /* removes Email: label */
  .password-change-form label{
    display: none;
  }
  
  


  