.main-image {
  bottom: -50;
  width: 40vh;
  left: 30%;
}

.form-box {
  height: 80vh;
  position: relative;
}

.mapstand-avatar-box {
  position: relative;
  width: 100%;
  height: 20vh;
  text-align: center;
}

.mapstand-avatar {
  margin: 40px;
  margin-top: 7vh;
}

.password-change-form-box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 50vh;
  position: absolute;
  text-align: center;
}

.password-change-form-box h1 {
  color: #8b8b8b;
  font-size: 3em;
}

.password-change-form-box p {
  font-size: 1.2em;
  margin-top: 5vh;
}

.password-change-form-box #id_old_password,
#id_new_password1,
#id_new_password2 {
  width: 90%;
  height: 50px;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
}

/* removes Email: label */
.password-change-form label {
  display: none;
}

.errorlist {
  list-style-type: none;
  height: 0px;
  color: red;
  font-weight: 600;
  padding: 0;

}


@media only screen and (max-width: 780px) {
  .right-title {
    height: 15vh;
  }

}


@media only screen and (max-width: 650px) {
  h1 {
    font-size: 1.9em;
  }

  .mapstand-avatar-box {
    height: 16vh;
  }

  .mapstand-avatar {
    width: 15vw;
  }

  .errorlist {
    font-size: 12px;
  }

  .right-title {
    display: none;
  }

  .password-change-form-box {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .password-change-form-box h1 {
    font-size: 2em;
  }

  .password-change-form-box #id_old_password,
  #id_new_password1,
  #id_new_password2 {
    margin: 2vh;
  }

  .form-box {
    margin-left: 20px;
    margin-right: 20px;
    right: 0px;
    padding-right: 0px;
  }

  .submit-button-section {
    margin-top: 15px;
  }

}