.main-image {
  bottom: -50;
}

.form-box {
  height: 80vh;
  position: relative;
}

.top-image-box {
  width: 100%;
  text-align: center;
}

.mail-image {
  width: 250px;
}

.resend-email-form-box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 50vh;
  position: absolute;
  text-align: center;
}

.resend-email-form-box h1 {
  color: #8b8b8b;
  font-size: 3em;
}

.resend-email-form-box p {
  color: #8b8b8b;
  font-size: 1.2em;
  margin-top: 5vh;
}

.resend-email-form-box #username,
#password {
  width: 90%;
  height: 50px;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
}

/* removes Email: label */
.resend-email-form label {
  display: none;
}

#id_email {
  width: 90%;
  height: 50px;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
}