.main-image {
    width: 50vw;
    opacity: 0.3;
    left: 0;
}

.right-title {
    height: 0vh !important;
}

.sign-up-box {
    /* overflow: auto; */
    height: 80vh;
    position: relative;
}

.mapstand-avatar-box {
    position: relative;
    width: 100%;
    height: 18vh;
    text-align: center;
}

.mapstand-avatar {
    margin: 30px;
    margin-top: 7vh;
}

.sign-up-form {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 50vh;
    position: absolute;
    text-align: center;
}

.sign-up-form h1 {
    color: #8b8b8b;
    font-size: 2em;
}

.sign-up-form #id_first_name,
#id_last_name,
#id_email,
#id_password1,
#id_password2 {
    width: 90%;
    height: 50px;
    font-size: 1.2em;
    padding: 10px;
    margin: 1.1vh;
}

.underform-box {
    display: block;
    text-align: left;
    margin-left: 0.6vw;
    margin-top: 1vh;

}

.underform-box label {
    font-weight: 400;
    font-size: 1.2em;
    color: #727272;
}

.underform-box a {
    font-weight: 700;
    color: #6a8685;
    text-decoration: none;
}

.underform-box a:hover {
    color: #4e8e92;
}

.underform-box .agree-to-terms {
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 3vh;
    text-align: center;

}

.agree-to-terms p {
    font-size: 1em;
    color: #575757;
}

.underform-box .agree-to-marketing {
    width: 100%;
    margin-bottom: 1vh;
}

.signing-link {
    font-weight: 700;
    color: #3A8EA8 !important;
    opacity: 0.8;
}

.signing-link:hover {
    text-decoration: none;
    opacity: 1.0;
    color: #808080 !important;
}

.captcha {
    padding: 0px;
}


@media only screen and (max-width: 1200px) {
    .flex-right-half {
        /* margin-top: 2vh; */
    }

    .right-title {
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
    }

    .mapstand-logo-right {
        margin: 20px;
        width: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .sign-up-form {
        right: 5px;
        left: 5px;
        margin-left: 15px;
        margin-right: 15px;
        width: 90%;
    }

    .mapstand-avatar {
        margin: 40px;
        margin-top: 5vh;
    }

    .mapstand-avatar-box {
        height: 15vh;
    }
}

@media only screen and (max-width: 500px) {

    .right-title {
        height: auto !important;
        position: relative;
        text-align: center;
    }

    .sign-up-form {
        width: 90%;
    }

    .mapstand-avatar-box {
        display: none;
    }

    .mapstand-logo-right {
        width: 200px;
        margin: 10px 0 10px 0;
    }

    .sign-up-form #id_first_name,
    #id_last_name,
    #id_email,
    #id_password1,
    #id_password2 {
        font-size: 1.2em;
        margin: 1vh;
    }

    .sign-up-form h1 {
        font-size: 2em;
    }

    .underform-box label {
        font-size: 1em;
        text-align: left;
    }
    .underform-box .agree-to-terms {
        margin-top: 1vh;    
    }

    .sign-up-form {
        overflow: auto;
        overscroll-behavior-y: contain;
        overflow-x: hidden;
        height: 90vh;
    }
}

@media only screen and (max-height: 760px) {
    .flex-right-half {
    overflow: scroll !important;
    margin-top: 0px !important;
   }
   .form-box {
     padding-bottom: 200px;
   }
  }

@media only screen and (max-height: 560px) {
    .mapstand-avatar-box {
      height: 20vh;
    }
    .right-title {
      position: relative;
      align-items: center;
      text-align: center;

    }
    .mapstand-avatar{
        display: none;
    }

  }