version: '3'
services:

    broker:
      container_name: rabbitmq
      image: 'rabbitmq:3-management'

    nginx:
        container_name: nginx
        build:
          context: ./deployment/nginx/
        restart: always
        ports:
        - "8080:80"
        # - "80:80"
        volumes:
          - djam_static:/djam_static
        # - ./log:/var/log/nginx
        depends_on:
          - server

    server:
        container_name: djam
        build:
          context: ./
        restart: always
        env_file:
          - .env
#        command: uwsgi  --emperor uwsgi.ini
        # command: uwsgi --ini uwsgi.ini
#        ports:
#        - "8002:8000"
        volumes:
          - djam_static:/djam/project/static
        environment:
          - DJAM_PROJECT_ENVIRONMENT=dev
          - DJAM_RABBITMQ_HOST=broker
          - DJAM_RABBITMQ_PORT=5672
          - DJAM_DB_HOST=${DJAM_DB_HOST}
          - DJAM_DB_PORT=${DJAM_DB_PORT}
          - DJAM_DB_NAME=${DJAM_DB_NAME}
          - DJAM_DB_USER=${DJAM_DB_USER}
          - DJAM_DB_PASSWORD=${DJAM_DB_PASSWORD}
          - DJAM_EMAIL_HOST_USER=${DJAM_EMAIL_HOST_USER}
          - DJAM_EMAIL_HOST_PASSWORD=${DJAM_EMAIL_HOST_PASSWORD}
          - DJAM_EMAIL_HOST=${DJAM_EMAIL_HOST}
          - DJAM_EMAIL_SENDER=${DJAM_EMAIL_SENDER}
          - DJAM_EMAIL_PORT=${DJAM_EMAIL_PORT}
          - DJAM_SECRET_KEY=${DJAM_SECRET_KEY}
        depends_on:
          - broker

volumes:
    djam_static:
