asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0
django-cors-middleware==1.4.0
django-dramatiq==0.8.0
django-filter==2.2.0
django-oidc-provider==0.7.0
django-split-settings==1.0.0
djangorestframework==3.10.3
dramatiq==1.7.0
future==0.18.2
idna==2.8
Markdown==3.1.1
oauthlib==3.1.0
pika==1.1.0
prometheus-client==0.7.1
psycopg2==2.8.4
pycryptodomex==3.9.4
pyjwkest==1.4.2
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
pyjwt==1.7.1