{{ block.super }}
<form role="form" method="post" class="update-user-account" action="{% url 'user_account_edit' id=object.id %}">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">Account Info</div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-4 col-form-label" for="first_name">First Name</label>
                <div class="col-8">
                    <input type="text" class="form-control input-lg" name="first_name" id="id_first_name" required
                        placeholder="Enter first name"
                            {% if form.first_name.value %}
                        value="{{ form.first_name.value }}" {% endif %}>
                    {{ form.first_name.errors }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" for="last_name">Last Name</label>
                <div class="col-8">
                    <input type="text" class="form-control input-lg" name="last_name" id="id_last_name" required
                        placeholder="Enter last name password" \
                            {% if form.last_name.value %}
                        value="{{ form.last_name.value }}" {% endif %}>
                    {{ form.last_name.errors }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" for="email">Email</label>
                <div class="col-8">
                    <input type="text" class="form-control input-lg" name="email" id="id_email" required
                        placeholder="{{ form.email.value }}" \
                            {% if form.email.value %}
                        value="{{ form.email.value }}" {% endif %}>
                    {{ form.email.errors }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" for="secondary_email">
                    Secondary Email
                    <i class="fas fa-info-circle" style="color:lightgrey;" data-toggle="tooltip"
                    data-placement="right" title="This email will be used for the account recovery."></i>
                </label>
                <div class="col-8">
                    <input type="text" class="form-control input-lg" name="secondary_email" id="id_secondary_email"
                        placeholder="" \
                            {% if form.secondary_email.value %}
                        value="{{ form.secondary_email.value }}" {% endif %}>
                    {{ form.secondary_email.errors }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" for="change_password">
                    Password
                </label>
                <div class="col-8">
                    <a href="{% url 'password_change' %}" class="change-password-link">
                        Change password
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Email Notifications</div>
        <small style="text-align:left">You may unsubscribe entirely from our marketing communication, or from out newsfeed activity. Other email such as company news and techincal notifications may not be opted-out.</small>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-10 col-form-label" for="first_name">Get Market updates, promotions, newsfeed and tutorial tips</label>
                <div class="col-2">
                    <label class="switch">
                    {{ mail_subscription }}
                    <span class="slider round"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-light">
        <input class="submit-button btn" type="submit" value="Update Profile">
    </div>
    <br>
</form>