{% load static %}
{% load configuration_tags %}
<head>
    <link rel="shortcut icon" href="{% static "user_management/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "user_management/img/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/base-with-navbar.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/d8ad894077.js" crossorigin="anonymous"></script>

    {% block header_scripts %}{% endblock header_scripts %}
</head>

<body  data-ms2-container="">
    <header>
        <nav class="base-navbar">
            <div class="left-navbar-section">
                <div class="logo-image">
                    <a class="right-link" href="/">
                        <img src="{% static "images/djam_inverted.svg" %}"/>
                    </a>
                </div>
            </div>
            <div class="right-navbar-section">
                <a class="right-link back-to-map-button" href={% get_map_url %}>
                    <i class="fas fa-map-marked-alt fa-lg"></i>
                    <b>Back to Map</b>
                </a>
                <a class="right-link logout-button" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt fa-lg"></i>
                   <b>Sign out</b>
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="flex-container">
            <div class="flex-left-half">
            </div>
            <div class="flex-right-half">
                {% block right_action %}
                {% endblock right_action %}
                </div>        
            <div class="flex-left-half">
            </div>
        </div>
    </main>
</body>

