{% extends 'account/base-with-navbar.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/password_change_form.css' %}">
{% endblock %}


 <!-- Left panel -->

 {% block left_title %}
 Password station
 {% endblock left_title %}
 
 {% block left_subtitle %}
 Lorem lorem to lorem ipsum dolor sit amet, consectetur adipiscing elit
 {% endblock left_subtitle %}

 {% block left_image %}
 <img class="main-image" src="{% static "user_management/img/server-man.png" %}"/>
 {% endblock left_image %}


 <!-- Right/ mobile panel -->

 {% block right_action %}


 <div class="form-box common-input-form">
     <div class="mapstand-avatar-box">
         <img class="mapstand-avatar" src="{% static "user_management/img/default-avatar.png" %}"/>
     </div>

     <div class="password-reset-form-box">
             <h1>Password reset</h1>
         <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
         <form class="password-reset-form" method="POST">
           {% csrf_token %}
           <div>
               {{ form }}
           </div>
           <div class="submit-button-section">
             <input class="submit-button" type="submit" value="Send me instructions!">
         </div>
         </form>
     </div>
         
     </div>
 


     {% endblock right_action %}





<!-- 
{% block message %}
    <form role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h3 class="message-header">Change password</h3>
        </div>
        <div class="form-group">
            <label for="old_password">Old password</label>
            <input type="password" class="form-control input-lg" name="old_password" id="old_password" data-toggle="password" required
                   placeholder="Old password"
                    {% if form.old_password.value %}
                   value="{{ form.old_password.value }}" {% endif %}>
            {{ form.old_password.errors }}
        </div>
        <div class="form-group">
            <label for="new_password1">New password</label>
            <input type="password" class="form-control input-lg" name="new_password1" id="id_new_password1" data-toggle="password" required
                   placeholder="New password"
                    {% if form.new_password1.value %}
                   value="{{ form.new_password1.value }}" {% endif %}>
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <label for="new_password2">Confirm password</label>
            <input type="password" class="form-control input-lg" name="new_password2" id="id_new_password2" data-toggle="password" required
                   placeholder="Repeat new password" \
                    {% if form.new_password2.value %}
                   value="{{ form.new_password2.value }}" {% endif %}>
            {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-lg btn-primary pull-right" id="btn_submit">Save</button>
    </form>
{% endblock %} -->
