{% extends 'account/base-with-navbar.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/forms.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}

{% block message %}
    <form role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h3 class="message-header">Change password</h3>
        </div>
        <div class="form-group">
            <label for="old_password">Old password</label>
            <input type="password" class="form-control input-lg" name="old_password" id="old_password" data-toggle="password" required
                   placeholder="Old password"
                    {% if form.old_password.value %}
                   value="{{ form.old_password.value }}" {% endif %}>
            {{ form.old_password.errors }}
        </div>
        <div class="form-group">
            <label for="new_password1">New password</label>
            <input type="password" class="form-control input-lg" name="new_password1" id="id_new_password1" data-toggle="password" required
                   placeholder="New password"
                    {% if form.new_password1.value %}
                   value="{{ form.new_password1.value }}" {% endif %}>
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <label for="new_password2">Confirm password</label>
            <input type="password" class="form-control input-lg" name="new_password2" id="id_new_password2" data-toggle="password" required
                   placeholder="Repeat new password" \
                    {% if form.new_password2.value %}
                   value="{{ form.new_password2.value }}" {% endif %}>
            {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-lg btn-primary pull-right" id="btn_submit">Save</button>
    </form>
{% endblock %}
