{% extends 'account/base-with-navbar.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/password_change_done.css' %}">
{% endblock %}


 <!-- Left panel -->

 {% block left_title %}
 Password station
 {% endblock left_title %}

 {% block left_subtitle %}
 Changing your passwords periodically is a great way to stay secure
 {% endblock left_subtitle %}

 {% block left_image %}
 <img class="main-image" src="{% static "user_management/img/server-ok.png" %}"/>
 {% endblock left_image %}


 <!-- Right/ mobile panel -->

 {% block right_action %}


 <div class="form-box common-input-form">
     <div class="mapstand-avatar-box">
         <img class="mapstand-avatar" src="{% static "user_management/img/default-avatar.png" %}"/>
     </div>

     <div class="password-change-form-box">
             <h1>Your password has been updated</h1>
             <a href="{% url 'user_account' %}"> Go back to your Digital Portrait Information </a>

     </div>

     </div>



     {% endblock right_action %}



