{% extends 'user_management/base.html' %}

{% block message %}
    <div class="account-detail">
        <div class="account-detail-group">
            <label>Username</label>
            <div id="id_username">{{ object.username }}</div>
        </div>
        <div class="account-detail-group">
            <label>First name</label>
            <div id="id_first_name">{{ object.first_name }}</div>
        </div>
        <div class="account-detail-group">
            <label>Last name</label>
            <div id="id_last_name">{{ object.last_name }}</div>
        </div>
        <div class="account-detail-group">
            <label>Email</label>
            <div id="id_email">{{ object.email }}</div>
        </div>

        <a href="{% url 'user_account_edit' username=object.username %}">Edit profile</a>
        <a href="{% url 'password_change' %}">Change password</a>
    </div>
{% endblock %}
