{{ block.super }}
    {% csrf_token %}
<div class="overflow-auto">
    <div class="card overflow-auto" style="height: 50%;">
        <div class="card-header">Resources</div>
        <div class="card-body">
          <ul class="list-group">
            {% for resource in resource_list %}
              <li class="list-group-item"><a href="{{ scheme }}://{{ domain }}/service/{{ resource }}">{{ resource | title }}</a></li>
              {% empty %}
                <p>There aren't available proxy services.</p>
            {% endfor %}
          </ul>
        </div>
    </div>
    <div class="card overflow-auto" style="height:70%;">
        <div class="card-header">API keys</div>
        <div class="card-body">
          <ul class="list-group">
            {% for apikey in apikey_list %}
              <li class="list-group-item">{{ apikey }}</li>
              {% empty %}
                <p>There aren't API Key configured.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
</div>
<br>