{% extends "admin/change_list.html" %}
{{ block.super }}
{% load humanize admin_list%}
{% load static %}

{% block result_list %}
<style>
.custom-admin-button {
    border-color: lightgreen;
    background-color: lightgreen;
    border-radius: 25px;
    padding: 8px
  }

.a-pointer {
  cursor:pointer;
}
#loading-arrow {
  max-width: 78px;
  max-height: 55px;
}
.additional-actions {
  max-width:100%;
  float:right
}
.loading-arrow {
  max-width: 78px;
  max-height: 55px;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/token_creation.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
<div class="results">
  <table id="result_list">
  <thead>
  <tr>
    <th scope="col" class="sortable column-check">
      <div class="text"><a href="?o=1.2">Action</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-id">
      <div class="text"><a href="?o=1.2">id</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-active">
      <div class="text"><a href="?o=1.2">Is active</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-email">
      <div class="text"><a href="?o=1.2">COMPANY NAME</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-company">
      <div class="text"><a href="?o=1.2">Subscription Type</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-group">
      <div class="text"><a href="?o=-2">Plan - Start Date</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-start_date">   
      <div class="text"><a href="?o=3.2">Plan - Start Enddate</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-expiry_date">   
      <div class="text"><a href="?o=3.2">Subscription Plan (Subs Groups)</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-time_remaining">   
      <div class="text"><a href="?o=3.2">Time remaining</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-length">   
      <div class="text"><a href="?o=3.2">Plan Length</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-token">   
      <div class="text"><a href="?o=3.2">Users</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col" class="sortable column-token">   
      <div class="text"><a href="?o=3.2">API Token</a></div>
      <div class="clear"></div>
    </th>
  </tr>
  </thead>
  <tbody>

  {% for subscription in cl.result_list %} 
  <tr class="row1">
    <td><input type="checkbox" name="_selected_action" value={{subscription.id}} class="action-select"> </td>
    <td class="field-id nowrap"><a href="{% url 'admin:administration_accountmanagementmodel_change' subscription.id %}">{{subscription.id}}</a></td>
    <td class="field-isactive nowrap">
      {% if subscription.is_active %}
        <img src="/static/admin/img/icon-yes.svg" alt="True">
      {% else %}
        <img src="/static/admin/img/icon-no.svg" alt="False">
      {% endif %}
    </td>    
    <td class="field-company nowrap">{{subscription.company_name|default:""}}</td>
    
    <td class="field-subtype nowrap">{{subscription.subscription_type|default:""}}</td>
    <td class="field-start-date nowrap">{{subscription.start_timestamp|default:""|date:"d M Y" }}</td>
    <td class="field-end-date nowrap">{{subscription.end_timestamp|default:""|date:"d M Y" }}</td>
    <td class="field-permissions nowrap">{{subscription.groups.first|default:""|upper}}</td>
    <td class="field-remaining nowrap">{{subscription.end_timestamp|timeuntil|naturaltime}}</td>
    {% with subscription.end_timestamp as expiry_date %}
    <td class="field-length nowrap">{% if subscription.end_timestamp %}{{subscription.start_timestamp|timesince:subscription.end_timestamp}}{% endif %}</td>
    {% endwith %}
    <td class="field-user nowrap">{% for usr in subscription.users.all %}{{usr.email}}<br>{% endfor %}</td>
    {% if subscription.groups.first.name|lower == 'free' %}
      <td class="field-token nowrap">{{subscription.users.first.apikey_set.first.key|default:"NO TOKEN FOR FREE ACCOUNT"}}</td>
    {% else %}
      <td class="field-token nowrap">
        <div class="container">
          <img id="loading-arrow-{{subscription.id}}" class="loading-arrow" style="display: none;" src="{% static "images/loading_arrow.gif" %}"/>        
          <div class="token-creation" style="max-width:100%;float:left">
            <span id="token-value-{{subscription.id}}" {% if not subscription.users.first.apikey_set.first.key %}style="display:none;"{% endif %}>
            {% if subscription.users.first.apikey_set.first.revoked %}
              The API key is revoked
            {% else %}
              {{subscription.users.first.apikey_set.first.key}}
            {% endif %}
            </span>
            <div id="create-token-container-{{subscription.id}}" {% if subscription.users.first.apikey_set.first.key or not subscription.is_active %}style="display: none;"{% endif %} >
                <div>
                    <p class="custom-admin-button a-pointer" onclick="sendRequest('POST', {{subscription.id}})">{{subscription.is_active}}Create a token</p>
                </div>
            </div>
          </div>
          <div id="token-div-info-{{subscription.id}}" {% if not subscription.users.first.apikey_set.first.key %}style="display: none;"{% endif %} class="additional-actions">
              <i class="fa fa-refresh" aria-hidden="true"></i><a class="a-pointer" onclick="sendRequest('PUT', {{subscription.id}})"> Refresh</a><br>
              <i class="fa fa-undo" aria-hidden="true"></i><a id="admin-revoke-{{subscription.id}}" class="a-pointer" onclick="sendRequest('PATCH', {{subscription.id}})">
              {% if subscription.users.first.apikey_set.first.revoked %} Re-enable{% else %} Revoke{% endif %}</a><br>
              <i class="fa fa-trash" aria-hidden="true"></i><a class="a-pointer" onclick="sendRequest('DELETE', {{subscription.id}})"> Delete</a>
          </div>
        </div>
      </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}