
body {
  /*margin: 0;*/
  font-size: 1em;
  /*height: 100%;*/
  font-weight: 400;
  line-height: 1.5;
  background: #a7db8f;
  padding: 20px;
  font-family: Play,Arial,Verdana,sans-serif;
  min-width: 320px;
}

.content {
  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  /*max-height: 1024px;*/
  /*height: 100%;*/
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  background-color: #609845;
  box-sizing: border-box;

  color: white;
}

.flex-basis-60 {
  flex-basis: 60%;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-picture {
  background: url(/static/identity_provider/img/background.jpg);
  border-radius: 0 10px 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper {
  padding: 20px;
  color: black;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: url(/static/identity_provider/img/logo-inverted.png);
  margin-right: 6px;
  width: 400px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-header {
  text-align: center;
  color: #609845;
  font-weight: bolder;
  margin-top: 40px;
}

.form-error-header {
  font-size: 1.4em;
  color: red;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.errorlist {
  padding: 0;
  color: red;
  margin: 0;
  max-width:270px;
  list-style-type:none;
  word-wrap:break-word;
}

@media all and (max-device-width: 768px) {
    /*.content {*/
    /*    min-width: fit-content;*/
    /*    min-height: fit-content;*/
    /*}*/
    .flex-basis-60 {
        flex-basis: 100%;
    }

    .flex-basis-40 {
      display: none;
    }

}
