{# Login page template (rendered whether LOGIN_URL is called, insetad of default django login page) #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "user_management/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "user_management/img/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/login.css' %}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>


    <title>Mapstand Login</title>
  </head>
    <body class="mapstand" data-ms2-container="mapstand">
        <section id="loginform" class="outer-wrapper">
            <div class="flex-container">
                    <div class="flex-half-page"style="width:50vw; height: 100vh; border: red 1px solid; background-color: #668B4E; background-position: center bottom;  background-image: url(../../static/user_management/img/test_background.png);   background-repeat: no-repeat;
                      background-size: auto;">
<img src="{% static "user_management/img/logo-white-text-on-green.png" %}" style="position:absolute; width:250px; margin: 10px"/>
                        
                       <div style="height: 60vh; border: blue solid 2px;">  
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>

                    </div>
                      </div>
                    
                    <div style="width:50vw; height: 100vh; border: red 1px solid;">
                    
                        <h1> R</h1>
                    </div>
            </div>
        </section>



    <!-- <section id="loginform" class="outer-wrapper">
      <div class="inner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="mps-logo">
                        <img class="mps-logo-img" src="{% static "user_management/img/logo-inverted.png" %}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="mps-error">
                        {% if form.non_field_errors %}
                            <div class="row text-center">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error|safe }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <form role="form" method="post" action="{% url 'login' %}?{{ request.GET.urlencode }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username / Email</label>
                            <input type="text" class="form-control input-lg" name="username" id="username" placeholder="Enter email">
                            {% if form.username.errors %}
                                <p>{{ form.username.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control input-lg" name="password" id="password" data-toggle="password" placeholder="Password">
                            {% if form.password.errors %}
                                <p>{{ form.password.errors }}</p>
                            {% endif %}
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn btn-lg btn-primary pull-right mps-btn" id="btn_submit">Sign In</button>
                    </form>
                    <div class="footer"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>
                </div>
              </div>
            </div>
        </div>
    </section>



    </body>
</html>
