{% load i18n %}{% autoescape off %}

{% blocktrans %}Someone -- hopefully you {{ username }}-- requested a password reset on this account: {{ site_name }}
If it wasn’t you, you can safetly ignore this email and your password will remain the same.{% endblocktrans %}


{% trans "Please go to the following link and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Your username, in case you have forgotten:' %} {{ username }}

{% trans "If you have additional questions, please contact support at support@mapstand.com. Thank you for using MapStand." %}

{% blocktrans %}The MapStand team{% endblocktrans %}

{% endautoescape %}
