<!-- templates/registration/password_reset_confirm.html -->
{% extends 'user_management/base.html' %}
{% block header_scripts %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user_management/css/password_reset_confirm.css' %}">
{%  endblock %}





    <!-- Left panel -->

    {% block left_title %}
    Create a new password
    {% endblock left_title %}
    
    {% block left_subtitle %}
    Make your new password secure by using a mix of numbers, symbols, capital and lower case letters.
    {% endblock left_subtitle %}

    {% block left_image %}
    <img class="main-image" src="{% static "user_management/img/computer-lock.png" %}"/>
    {% endblock left_image %}


    <!-- Right/ mobile panel -->

    {% block right_action %}


    <div class="new-password-box common-input-form">
        <div class="mapstand-avatar-box">
            <img class="mapstand-avatar" src="{% static "user_management/img/default-avatar.png" %}"/>
        </div>

        {% if validlink %}
        <div class="new-password-form">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h3 class="message-header">Set a new password!</h3>
            </div>
                <input type="password" class="form-control input-lg" name="new_password1" id="id_new_password1" data-toggle="password" required
                       placeholder="New password"
                        {% if form.new_password1.value %}
                       value="{{ form.new_password1.value }}" {% endif %}>
                {{ form.new_password1.errors }}
                <input type="password" class="form-control input-lg" name="new_password2" id="id_new_password2" data-toggle="password" required
                       placeholder="Repeat new password" \
                        {% if form.new_password2.value %}
                       value="{{ form.new_password2.value }}" {% endif %}>
                {{ form.new_password2.errors }}
            <button type="submit" class="submit-button" id="btn_submit">Change my password</button>
        </form>
        </div>
    
        {% else %}

        <p>The password reset link was invalid, possibly because it has already been used.  <a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>

          {% endif %}


        </div>

    {% endblock right_action %}






<!-- 



{% block title %}Enter new password{% endblock %}

{% block message %}

    {% if validlink %}
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h3 class="message-header">Set a new password!</h3>
            </div>
            <div class="form-group">
                <label for="new_password1">New password</label>
                <input type="password" class="form-control input-lg" name="new_password1" id="id_new_password1" data-toggle="password" required
                       placeholder="New password"
                        {% if form.new_password1.value %}
                       value="{{ form.new_password1.value }}" {% endif %}>
                {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm password</label>
                <input type="password" class="form-control input-lg" name="new_password2" id="id_new_password2" data-toggle="password" required
                       placeholder="Repeat new password" \
                        {% if form.new_password2.value %}
                       value="{{ form.new_password2.value }}" {% endif %}>
                {{ form.new_password2.errors }}
            </div>
            <button type="submit" class="btn btn-lg btn-primary pull-right" id="btn_submit">Change my password</button>
        </form>
    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used.  <a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>

    {% endif %}
{% endblock %} -->
