{% extends 'user_management/base.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/password_reset_done.css' %}">

{%  endblock %}



    <!-- Left panel -->

    {% block left_title %}
    Check your inbox!
    {% endblock left_title %}
    
    {% block left_subtitle %}
    Follow the link in the email.
    {% endblock left_subtitle %}

    {% block left_image %}
    <img class="main-image" src="{% static "user_management/img/test-laptop-man.png" %}"/>
    {% endblock left_image %}


    <!-- Right/ mobile panel -->

    {% block right_action %}


    <div class="message-outer-box common-input-form">
        <div class="message-image-box">
            <img class="envelope-email" src="{% static "user_management/img/email-envelope.png" %}" />
        </div>

        <div class="message-box">
            <h2>We have sent an email with instructions on how to reset your password to the address you provided. </h2>
        </div>

      
            
    </div>
    


    {% endblock right_action %}
