{% load static %}
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W99PQ7G');</script>
    <!-- End Google Tag Manager -->
    <link rel="shortcut icon" href="{% static "user_management/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "user_management/img/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block header_scripts %}{% endblock header_scripts %}
</head>
<body class="mapstand" data-ms2-container="mapstand">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W99PQ7G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="flex-container">
    <div class="flex-left-half">

    <a class="logo-image" href="{% url 'login' %}">
        <img src="{% static "user_management/img/mapstand-white-logo.svg" %}"/>
    </a>

    <div class="main-title">
        <h1 class="main-title-text">
        {% block left_title %}
        {% endblock left_title %}
        </h1>

    </div>

    <div class="sub-title" >
        <h2 class="sub-title-text">
        {% block left_subtitle %}
        {% endblock left_subtitle %}
        </h2>
    </div>

    <div class="main-image-section">
        {% block left_image %}
        {% endblock left_image %}
    </div>


    </div>

    <div class="flex-right-half">
        <div class="right-title" >
            <a href="{% url 'login' %}">
            <img class="mapstand-logo-right" src="{% static "user_management/img/logo-inverted.png" %}"/>
            </a>
            {% block right_title %}
            {% endblock right_title %}
        </div>

        {% block right_action %}
        {% endblock right_action %}




        </div>


    </div>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4635716.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

