{% load i18n %}{% autoescape off %}

{% blocktrans %}Dear {{ first_name }} {{ last_name }}{% endblocktrans %}

{% blocktrans %}This is a confirmation that your email address has now been successfully updated.{% endblocktrans %}

{% blocktrans %}If this has been done without your knowledge or consent please contact our support team at support@example.com as soon as possible. {% endblocktrans %}

{% blocktrans %} Kind Regards, {% endblocktrans %}

{% blocktrans %}-The DJAM team -{% endblocktrans %}

{% endautoescape %}
