{% extends 'user_management/base.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/signup.css' %}">

    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{%  endblock %}

    <!-- Right/ mobile panel -->

    {% block right_action %}


    <div class="sign-up-box common-input-form">
        <div class="djam-avatar-box">
            <img  src="{% static "user_management/img/test-avatar.png" %}"/>
        </div>

        <div class="sign-up-form">
            <h1>Create your account</h1>
            <form role="form" method="post" action="{% url 'register' %}">
                {% csrf_token %}


                <input type="text" id="id_first_name" name="first_name" required placeholder="Enter your first name">
                <div class="error-message">
                    {% for msg in form.first_name.errors %}
                    {{ msg }}
                    {% endfor %}
                </div>


                <input type="text" id="id_last_name" name="last_name" required placeholder="Enter your last name">
                <div class="error-message">
                    {% for msg in form.last_name.errors %}
                    {{ msg }}
                    {% endfor %}
                </div>


                <input type="text" id="id_email" name="email" required placeholder="Enter your email address">
                <div class="error-message">
                    {% for msg in form.email.errors %}
                {{ msg }}
                {% endfor %}
                </div>


                <input type="text" id="id_secondary_email" name="secondary_email" placeholder="Enter your secondary email address"
                       data-toggle="tooltip" data-placement="top" title="This email will be used for the account recovery.">
                <div class="error-message">
                    {% for msg in form.secondary_email.errors %}
                {{ msg }}
                {% endfor %}
                </div>

                <input type="password" id="id_password1" name="password1" required placeholder="Enter your password">
                <div class="error-message">
                    {% for msg in form.password1.errors %}
                    {{ msg }}
                    {% endfor %}
                </div>


                <input type="password" id="id_password2" name="password2" required placeholder="Enter your password (again)">
                <div class="error-message">
                    {% for msg in form.password2.errors %}
                    {{ msg }}
                    {% endfor %}
                </div>
            
                <div class="lower-form">

                    <div class="underform-box">
                       
                        <div class="agree-to-marketing">
                        </div>

                        <div class="agree-to-terms">
                        <p>
                            By clicking 'Sign Up', you agree to DJAM's <a class="signing-link" href="">Terms of Use</a>
                            & <a class="signing-link" href="">Privacy Policy</a>
                        </p>
                        </div>
                    </div>

                </div>
                
                <div class="submit-button-section">
                    <input class="submit-button" type="submit" value="Sign up">
                </div>
                <div class="alternative-option-section">
                    <p>Already have an account?<a class="signing-link" href="{% url 'login' %}"> Sign in</a></p>
                </div>


            </form>
        </div>
            
        </div>
    


    {% endblock right_action %}
