{% extends 'user_management/base.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/forms.css' %}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>
{%  endblock %}



    <!-- Left panel -->

    {% block left_title %}
    Sign up free and unleash lorem ipsum
    {% endblock left_title %}
    
    {% block left_subtitle %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    {% endblock left_subtitle %}

    {% block left_image %}
    <img class="main-image" src="{% static "user_management/img/test-laptop-man.png" %}"/>
    {% endblock left_image %}


    <!-- Right/ mobile panel -->

    {% block right_action %}


    <div class="sign-up-box common-input-form">
        <div class="mapstand-avatar-box">
            <img class="mapstand-avatar" src="{% static "user_management/img/default-avatar.png" %}"/>
        </div>

        <div class="sign-up-form">
            <form>
                {% csrf_token %}
                <input type="text" id="first-name" name="first-name" placeholder="Enter your first name">
                <br>
                <input type="text" id="last-name" name="last-name" placeholder="Enter your last name">
                <br>
                <input type="email" id="email" name="email" placeholder="Enter your email address">
                <br>
                <input type="password" id="password" name="password" placeholder="Enter your password">
                <br>
                <input type="password" id="password" name="password" placeholder="Enter your password (again)">
            
                <div class="lower-form">

                    <div class="underform-box">
                        <div class="underform-agree-to-terms">
                        <label class="check" for="checkbox"><input id="checkbox" type="checkbox"> &nbsp;&nbsp;&nbsp;I agree to the Mapstand <a href="">terms and conditions</a> </label>
                        </div>
                        <br>
                        <div class="underform-agree-to-marketing">
                        <label class="check" for="checkbox"><input id="checkbox" type="checkbox"> &nbsp;&nbsp;&nbsp;I'd like to hear about Mapstands offers and services </label>
                        </div>
                    </div>

                </div>
                        <br>
                
                <div class="submit-button-section">
                    <input class="submit-button" type="submit" value="Sign in">
                </div>
                <div class="no-account-section">
                    <p>Don't have an account?<a href=""> Sign up</a></p>
                </div>


            </form>
        </div>
            
        </div>
    


    {% endblock right_action %}
