#mainNav {
  padding: 0 1rem;
  border-bottom: 1px solid $grey-border;
  background-color: $grey-nav-bg;
  
  @include lg-xl {
    .navbar-nav {
      .nav-item {
        a.nav-link {
          padding: 0.7rem 1rem !important;
        }
      }
    }
  }
  &.navbar-shrink {
    display: block;

    .navbar-brand {
      background: url("../images/logo-inverted.png") no-repeat;
      background-size: 100%;
    }
  }

  .navbar-brand {
    text-indent: -9999px;
    height: 50px;
    width: 200px;
  }

  .navbar-nav {
    padding-top: 1rem; /* 0px does not look good on small screens */
    padding-bottom: 1rem;
    line-height: 1em;

    .nav-item {
      .nav-link {
        @include border-radius(5px);
        padding: 0.7rem 1.8rem !important;
        font-size: 90%;
        font-weight: 700;
        letter-spacing: 1px;
        color: $grey-dark;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

        cursor: pointer;
        margin-left: 1vw;
        white-space: nowrap;

        &.active {
          color: $green;
        }

        &:hover {
          color: $green;
        }

        &.sign-in {
          border: 1px solid $green;
          border-radius: 6px;
          background: $white;
        }
        &.sign-up {
          color: $white;
          border: 1px solid $green;
          border-radius: 6px;
          background: $green;
        }

        &.sign-in:hover {
          color: $grey-dark !important;
          cursor: pointer;
          background-color: #60984510 !important;
        }
        &.sign-up:hover {
          // color: $grey-dark !important;
          cursor: pointer;
          background-color: $hover-green !important;
        }
      }
      .sign-in {
        // border: 1px solid $green;
      }
    }
  }

  .navbar-toggler {
    background-color: #82b668;
  }
}

@media (min-width: $desktop-min-width) {
  #mainNav {
    &.navbar-shrink {
      #navbarResponsive {
        display: flex !important;
      }
    }

    #navbarResponsive {
      display: none !important;
    }
  }
}

@media (max-width: 990px) {
  .navbar-nav {
    .nav-item {
      .nav-link {
        margin-top: 2vw;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  #mainNav {
    display: none;
  }

  .navbar-nav {
    text-align: center;
  }
}
