section#servicesplan {
  background: $white;
  // background: linear-gradient(to right, $green, $green);
  padding: 4rem 0 5rem 0;

  .bg-business-services {
    background-color: $green-dark;
    color: $offwhite;
  }
  .hr-white {
    border-top: 1px solid rgba(255, 255, 255, 0.75);
  }
  ul li {
    margin-bottom: 0 !important;
  }

  ul li p {
    margin-bottom: 0 !important;
    font-size: 0.8rem;
  }

  .fas.fa-check {
    color: $green;
  }

  .li-arrow {
    color: $green;
    // padding-right: 15px;
  }

  .includes-left {
    padding-bottom: 10px;
    // border-bottom: rgb(193, 193, 193) solid 1px;
    font-size: 0.9em;
  }

  #button-availalbe-text {
    font-size: 0.8em;
    text-align: center;
    color: #9d9d9d;
  }

  #button-availalbe-text-light {
    font-size: 0.8em;
    text-align: center;
    color: #c2c2c2;
  }

  .services-plan {
    padding: 5rem 0 2rem 0;
  }
  .service-title {
    text-transform: capitalize;
    padding: 1em 0;
  }
  .card-col {
    border: none;
    // transition: all 0.2s;
  }
  .flex-auto {
    flex: 1 1 auto !important;
  }

  .pricing-group {
    padding: 2rem !important;
  }

  .box-shadow-large {
    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important;
  }

  .rounded-2 {
    border-radius: 6px !important;
  }

  hr {
    margin: 1rem 0;
  }

  .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }

  h6.card-subtitle {
    font-size: 0.9rem;
    margin: 0;
  }
  h6.card-subtitle p {
    margin-bottom: 0;
  }

  // .card-col:hover {
  //     margin-top: -.25rem;
  //     margin-bottom: .25rem;
  // }

  .card-col:hover .btn {
    opacity: 1;
  }

  ul li {
    margin-bottom: 1rem;
  }

  #viewdetails2 {
    margin: 0 auto;
  }

  #viewdetails3 {
    margin: 0 auto;
  }

  #viewdetails4 {
    margin: 0 auto;
  }

  .collapsed {
    cursor: pointer;
  }

  a.collapsed:after {
    content: "+ Show More";
    font-size: 0.8rem;
  }

  a:not(.collapsed):not(.btn):after {
    content: "- Show Less";
    font-size: 0.8rem;
  }

  .text-muted {
    opacity: 0.7;
  }

  .btn {
    font-size: 80%;
    border-radius: 6px;
    letter-spacing: 0.1rem;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  .services-list {
    margin: 6rem 0;
  }

  .light-background-subtitle {
    color: rgb(114, 114, 114) !important;
  }
   .dark-background-subtitle {
    color: rgb(182, 182, 182) !important;
  }

  /* Hover Effects on Card */
}
@media (max-width: $mobile-max-width) {
  section#servicesplan {
    padding: 2.5rem 0;

    .section-heading {
      font-size: 2.3rem;
    }
    .section-subheading {
      font-size: 1rem;
      margin: 0 auto;
      padding: 1.5rem 2rem;
    }
    .service-title {
      font-size: 1.3rem;
      text-transform: capitalize;
      padding: 1.5rem 0;
    }
    .pricing-group {
      padding: 0.1rem 0 !important;
    }
    .btn {
      margin-bottom: 2rem !important;
    }
  }
}
