section#timeline {
  padding: 5rem 0;
  color: $grey-dark;

  > li {
    .timeline-image {
      background-color: $green;
    }
  }
  a.join-the-team-link {
    color: $white;
  }
  .sign-up-timeline {
    padding-top: 5px;
  }

  a.join-the-team-link:hover {
    color: $yellow;
  }
}

.timeline > li .rounded {
  margin-top: 35px;
}

@media (max-width: $mobile-max-width) {
  section#timeline {
    padding: 2.5rem 0;
  }
}

@media (max-width: $screen-xl-min) {
  .timeline > li .rounded {
    margin-top: 25px;
  }
}

@media (max-width: $screen-lg-min) {
  .timeline > li .rounded {
    margin-top: 0px;
    padding: 10px;
  }
}
