.main-image {
  bottom: -50;
}

.right-title {
  height: 20vh !important;
}

.sign-in-box {
  height: 80vh;
  position: relative;
}

.mapstand-avatar-box {
  position: relative;
  width: 100%;
  height: 20vh;
  text-align: center;
}

.mapstand-avatar{
  margin: 40px;
  margin-top: 7vh;
}

.sign-in-form {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 50vh;
  position: absolute;
  text-align: center;
}

.sign-in-form #username, #password{
  width: 90%;
  height: 50px;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
}







.underform-half-remember-me {
  width: 50%;
  text-align: left;
}




.underform-half-remember-me label {
  font-size: 1.1em;
  font-weight: 600;
  color: #8f8f8f;
  display: block;

}


.underform-half-forgot-password {
  width: 50%;
  text-align: right;
}

.underform-half-forgot-password a {
  font-size: 1.1em;
  font-weight: 600;
  color: #747474;
}

.underform-half-forgot-password a:hover {
  text-decoration: none;
  color: #3a8ea8;
}





@media only screen and (max-width: 800px){
  .right-title{
    height: 25vh;
  }
}


@media only screen and (max-width: 700px){
  .sign-in-form {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .right-title{
    height: 23vh;
  }

  .right-title-text {
    display: none;
  }
}