{% extends 'base.html' %}

{% block header_scripts %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/css/signup.css' %}">
{%  endblock %}

{% block message %}
    <form role="form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
            <h3 class="message-header">Welcome to Mapstand</h3>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control input-lg" name="username" id="id_username" required placeholder="Enter username" {% if form.username.value %} value="{{ form.username.value }}" {% endif %}>
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control input-lg" name="email" id="id_email" required placeholder="Enter email"  {% if form.email.value %} value="{{ form.email.value }}" {% endif %}>
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control input-lg" name="password1" id="id_password1" required placeholder="Enter password">
            {{ form.password1.errors }}
        </div>
        <div class="form-group">
            <label for="username">Password confirmation</label>
            <input type="password" class="form-control input-lg" name="password2" id="id_password2" required placeholder="Repeat password">
            {{ form.password2.errors }}
        </div>
        <button type="submit" class="btn btn-lg btn-primary pull-right" id="btn_submit">Sign In</button>
    </form>
{%  endblock %}
