body.free-text-page {
  .masthead-pages {
    min-height: 400px !important;
    padding: 4.5rem 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    color: $green;
    border-bottom: 1px solid $grey-border;

    .container {
      min-height: inherit;
      display: flex;

      h1 {
        color: $grey-dark;
        margin: auto;
      }
      .v-middle {
        align-content: center;
        align-items: center;
        display: flex;
        width: 100%;
      }
    }
  }

  .rich-text {
    p {
      a {
        color: $black !important;
        font-weight: 600;
        text-decoration: underline dotted;

        &:hover,
        &:active,
        &:focus {
          color: $grey-dark !important;
          text-decoration: underline $green double;
        }
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  body.free-text-page  {
    .masthead-pages {
      min-height: 350px !important;
      padding: 0 1rem;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }
  }
}